@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&display=swap');
body{
    margin:0%;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    background-image:url("/assets/imgs/fondov.png");
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 5px;
  }
  
  .navbar::before {
    background-image: inherit;
    background-size: cover;
    background-position: inherit;
    position: absolute;
    filter: blur(8px); 
  }
  h1 {
    position:relative;
    color: white;
    text-align: center;
    font-size: 40px;
  }
h2{
    text-align: center;
    font-weight: 300, bold; 
}
h3{
    text-align: center;
    font-weight: 400;
    margin: 50px;
}
h4 {
    text-align: center;
    font-size: larger;
}
.contenido {
    display: flex;
    margin: 40px;
    text-align: justify;
}
.products {
    width: 80%;
    margin: auto;
}
td {
    width: 50%;
    padding: 2em;
}
img {
    width: 100%;
}
p {
    font-size: 15px;
    float: center;
    position: relative;
    text-align: justify;

}
.footer {
    text-align: center;
    background-image: linear-gradient(to right, yellow, blue,red);;
    color: white;
    padding: 1px;
}